server {
    listen {{ item.port }} {% if item.default_server is defined %}default_server{% endif %} {% if item.port == '443' %}ssl{% endif %};

    {% if item.server_name is not defined or item.port != '443' %}
    server_name {{ item.name }}.{{ env }};
    {% endif %}

    root /apps/{{ item.name }}/www/web;

    access_log /misc/logs/{{ item.name }}/access.log;
    error_log /misc/logs/{{ item.name}}/error.log;

    rewrite ^/app\.php/?(.*)$ /$1 permanent;

    client_body_buffer_size 10K;
    client_header_buffer_size 1k;
    client_max_body_size 20M;
    client_header_timeout 9999s;
    client_body_timeout 9999s;

    location / {
        index app.php;
      	try_files $uri @rewriteapp;
    }

    location @rewriteapp {
     	rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_pass unix:/var/run/php-fpm/php7.0-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
       	include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS off;
    } 

    {% if item.name == "portal_crc" %}
    # Configuración Chat Agenti

    location ~* \.(eot|ttf|woff)$ {
        add_header Access-Control-Allow-Origin *;
    }

    location ~* \.css {
        add_header  Content-Type    text/css;
    }

    location /dextraCommunity {
        include /etc/nginx/mime.types;
        fastcgi_index index.php;
        fastcgi_pass unix:/var/run/php-fpm/php7.0-fpm.sock;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
    }

    location /correoagenti {
        index index.php;
        include /etc/nginx/mime.types;
        fastcgi_index index.php;
        fastcgi_pass unix:/var/run/php-fpm/php7.0-fpm.sock;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location /bundles/agenti {
        fastcgi_pass unix:/var/run/php-fpm/php7.0-fpm.sock;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location /crc {
	proxy_pass http://127.0.0.1:9001;
    }

    #location ^~ /dextraReportsAgenti {
    #    proxy_pass http://127.0.0.1:8084;
    #    proxy_set_header Host $host;
    #    proxy_set_header X-Real-IP $remote_addr;
    #    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #}

    location ^~ /agentiAsesorWeb/ {
        proxy_pass http://127.0.0.1:9001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Configuración CKfinder
    location ~ ^/ckfinder {
        fastcgi_index index.html;
        fastcgi_pass unix:/var/run/php-fpm/php7.0-fpm.sock;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    # Configuración de seguridad para prevenir acceso a archivos con datos sensibles
    location = /dextraCommunity/qa-config.php {
	return 403;
    }
    {% endif %}
}
{% if item.name == "portal_crc" %}
{% for item in locations %}
server {
	server_name {{ item.name }};
	location / {
		return 301 {{ redirect_host }}{{ item.redirect_url}};
	}
}
{% endfor %}
server {
    listen       5000;
    server_name  localhost;
    location / {
      root   /apps/mapa_infraestructura/app/dist;
      index  index.html;
      try_files $uri $uri/ /index.html;
    }
}
{% endif %}

